/* Things left uncommented are self-explanatory */

body {
    background-color: wheat;
    font-family: 'Special Elite', cursive; 
    padding: 1% 10% 1% 10%;
    font-size: 20px;
    
}

/* dashed hr with padding top and bottom */
hr {
    border: 1px dashed black;
    margin: 15px 0;
}

/* Circle image */
img {
    border-radius: 50%; 
}

/* Gives all section headings an underline and top padding */
.section-heading {
    padding-top: 20px;
    text-decoration: underline;
}

/* All titles of links in contact area get red and right padding  */
span {
    color: #9E2A2B;
    padding-right: 10px;
}

.date-range {
    color: #9E2A2B;
}

/* Gives the right column some more space */
#results-table td, #results-table th {
    padding-right: 10px;
}

/* Gives grades style */
#results-table td:nth-child(2n) {
    color: #9E2A2B;
    padding-left: 22px;
}

#results-table th {
    text-align: left;
}

/* title of result table */
#results-table caption {
    font-size: 1.6rem;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 15px;
}

#responsibilities {
    font-size: 1.2rem;
}

/* Make links inherit text color (black) */
a {
    color: inherit;
}




