body {
    background-color: wheat;
    font-family: 'Special Elite', cursive; 
    padding: 1% 10% 1% 10%;    
    
}

img {
    border-radius: 50%;
}

header {
    text-align: center;
}

span {
    color: #9E2A2B;
    padding-right: 10px;
}

.date-range {
    color: #9E2A2B;
}

#results-table td {
    padding: 0 10px 0 0;
}

#results-table td:nth-child(2) {
    padding-left: 15px;
}

#results-table th {
    text-align: left;
}

#results-table caption {
    font-size: 1.3rem;
    text-align: center;
}

#responsibilities {
    font-size: 0.9rem;
}

.section-heading {
    padding-top: 20px;
}
