body {
    background-color: wheat;
    font-family: 'Special Elite', cursive; 
    padding: 1% 10% 1% 10%;
    font-size: 20px;
    
}

hr {
    border: 1px dashed black;
    margin: 15px 0 15px 0;
}

img {
    border-radius: 50%; 
}

header {
    text-align: center;
}

.section-heading {
    padding-top: 20px;
    text-decoration: underline;
}

span {
    color: #9E2A2B;
    padding-right: 10px;
}

.date-range {
    color: #9E2A2B;
}

#results-table td {
    padding: 0 10px 0 0;
}

#results-table td:nth-child(2) {
    color: #9E2A2B;
    padding-left: 20px;
}

#results-table th {
    text-align: left;
}

#results-table caption {
    font-size: 1.6rem;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 15px;
}

#responsibilities {
    font-size: 1.2rem;
}

footer {
    display: flex;
    justify-content: center;
    padding: 40px 0 0 20px;
}

footer span {
    font-size: 2rem;
    color: black;

}


