/* Anything uncommented is pretty self-explanatory */

/* OTHER */
h1, h2 {
    text-align: center;
}

body {
    display: flex;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    color: #F62DAE;
    
}

a {
    color: inherit;
}

/* Hide br cause it's annoying and not needed with this css */
br {
    display: none;
}

/* Make image circle */
img {
    border-radius: 50%;
}


h5 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1.4rem;
}

/* MAIN SECTIONS */
/* Give a third of page and display as column */
#brief-information {
    display: flex;
    flex-direction: column;
    flex: 1 2 0;
}

/* Give 2 thirds of and display as column */
#detailed-information {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    flex: 2 2 0;
}

/* Sub sections */
/* Using flexbox to easily handle centering containers */
#contact-section {
    background-color: #FEAEA2;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #B30089;
}

#skill-section, #profile-section {
    background-color: #FFF1EF;
}


#skill-section {
    /* Make column grow to bottom of parent */
    flex-grow: 1;
    padding: 0;
    color: #F62DAE;
    font-size: 1.3rem;
    /* Using flexbox to center containers but not li */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Add spacing between li */
#skill-section li:not(:first-child) {
    padding: 20px 0 0 0;
}

/* Using flex for easier centering */
#profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    color: #F62DAE;
    font-size: 1.3rem;
}

/* rest of info */
#large-info-section {
    border: 1px solid black;
    /* flex grow to make sure it stretches to bottom of parent */
    flex: 1;
    font-size: 1.3rem;
}

/* Give all sections a bit of padding to their start and end */
#large-info-section, #skill-section, #contact-section, #profile-section {
    padding: 0 70px;
}


/* Give end cell of table some padding and slightly dark color*/
#contact-table td:nth-child(2) {
    padding-left: 20px;
    color: #B30089;
}

.section-heading {
    font-size: 2.5rem;  
}


.section-heading, caption {
    color: #B30089;
}

/* Give result title style*/
caption {
    font-size: 2rem;
    margin-bottom: 10px;
    text-decoration: underline;
}


#large-info-section td:nth-child(2) {
    padding-left: 65px;
}

#large-info-section th:nth-child(2) {
    padding-left: 50px;
}

#responsibilities {
    font-size: 1.4rem;
    margin-bottom: 0;
}

#copyright {
    text-align: end;
    font-size: 1.1rem;
}

#copyright span {
    margin-right: 5px;
}

