body {
    background-color: rgb(42, 42, 42);
    color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
}

.grid-container {
    display: grid;
    /* Create 5 equal columns */
    grid-template-columns: repeat(5, 1fr);
    /* Create 5 equal rows */
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
    /* Template */
    grid-template-areas: 
            "Fig-1 Fig-1 Fig-2 Fig-3 Fig-4"
            "Fig-1 Fig-1 Fig-5 Fig-6 Fig-7"
            "Fig-8 Fig-8 Fig-11 Fig-11 Fig-11"
            "Fig-8 Fig-8 Fig-11 Fig-11 Fig-11"
            "Fig-9 Fig-10 Fig-11 Fig-11 Fig-11";
}

/* Force size of container and rounded corners */
img {
    width:100%;
    height:100%;
    border-radius: 5%;
}

/* Center and give some space on bottom to stop overlap */
figure {
    text-align: center;
    padding-bottom: 20px;
}

/* ASSIGNING CLASSES TO AREA */
 .fig-1 {
    grid-area: Fig-1;
}

.fig-2 {
    grid-area: Fig-2;
}

.fig-3 {
    grid-area: Fig-3;
}

.fig-4 {
    grid-area: Fig-4;
}

.fig-5 {
    grid-area: Fig-5;
}

.fig-6 {
    grid-area: Fig-6;
}

.fig-7 {
    grid-area: Fig-7;
}

.fig-8 {
    grid-area: Fig-8;
}

.fig-9 {
    grid-area: Fig-9;
}

.fig-10 {
    grid-area: Fig-10;
}

.fig-11 {
    grid-area: Fig-11;
}  

/* Figure has an absurd amount of margin to begin with */
figure {
    margin: 0px;
}